<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
    	<typeAlias type="com.spring.webflow.domain.Logincredential" alias="Logincredential"/>
        <typeAlias type="com.spring.webflow.domain.ShadowUser" alias="ShadowUser"/>
    </typeAliases>

    <mappers>
    	<mapper resource="com/spring/webflow/mapper/LogincredentialMapper.xml" />
        <mapper resource="com/spring/webflow/mapper/ShadowUser.xml" />
    </mappers>

</configuration>